body {
    background: url("../img/black.jpg");
    background-attachment: fixed;
    background-size: 100%;
  }
  #logo {
    background: #0e0e0e;
  }
  #menu ul li:hover {
    background: #000000;
  }
  .button-more {
    background: #0e0e0e;
  }